package views

templ Index(starterCode string) {
	@base("index") {
		<script src="/termBody.bundle.js"></script>
		<div class="container">
			<div class="row">
				<div class="col-md">
					<h1>Hello World!</h1>
				</div>
			</div>
			<div class="row">
				if starterCode == "" {
					@codeProblem("print('hello, world!')")
				} else {
					@codeProblem(starterCode)
				}
			</div>
			<div class="row">
				@codeProblem("print(':3')")
			</div>
		</div>
	}
}
