package pages

import "gihub.com/scrmbld/OpenWorkbook/views/components"
import "gihub.com/scrmbld/OpenWorkbook/views/templates"

templ Home(starterCode string) {
	@templates.Base("index") {
		@components.NavBar()
	}
}
