@import "tailwindcss";

@layer base {
  h1 {
    color: var(--color-white);
    font-size: var(--text-3xl);
    line-height: var(--text-3xl-line-height);
  }

  h2 {
    color: var(--color-white);
    font-size: var(--text-2xl);
    line-height: var(--text-2xl-line-height);
  }

  h3 {
    color: var(--color-white);
    font-size: var(--text-xl);
    line-height: var(--text-xl-line-height);
  }

  p {
    color: var(--color-white);
    font-size: var(--text-lg);
    line-height: var(--text-lg-line-height);
  }
}
